@media (min-width: 768px) {

  header {
    justify-content: flex-start;
    gap: 1rem;
  }

  #menuBtn {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    padding: 1rem 1.5rem;
  }

  main {
    max-width: 1100px;
    margin: 0 auto;
  }

  section {
    padding: 1.5rem;
  }

  #courses {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
  }
}
